.App {
  display: block;
  text-align: center;
  width: 30%;
  border: 1px solid;
  margin: auto;
  margin-top: 10px;
}

.choice {
  text-align: left;
}

.clear {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

h2 {
  margin: 0 5px;
  height: 30px;
}

.heigth {
  margin-top: 5px;
  height: 20px;
}
